<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<table class="table table-striped">
			<tr>
				<th>RollNo</th>
				<th>Name</th>
				<th>Age</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Gender</th>
				<th>Address</th>
				<th>Username</th>
				<th>Operations</th>
			</tr>
			{% for i in info %}
			<tr>
				<td>{{i.S_rollno}}</td>
				<td>{{i.S_name}}</td>
				<td>{{i.S_age}}</td>
				<td>{{i.S_phone}}</td>
				<td>{{i.S_email}}</td>
				<td>{{i.S_gender}}</td>
				<td>{{i.S_address}}</td>
				<td>{{i.S_username}}</td>
				<td><a href="{% url 'studentedit' i.id %}"><button class="btn btn-info">Edit</button></a></td>
				<td><a href="{% url 'sdelete' i.id %}"><button class="btn btn-danger">Delete</button></a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>